body {
    overflow-x: hidden;
    background-image: url(../shattered.png)
}

.container {
    position: relative;
    right: -15px;
}

.maininfo {
    position: relative;
    right: 27px;
}

.main {
    background-color: white;
    /* width: 95%; */
    position: relative;
    right: -0%;
    top:30%;
}

.main-1 {
    background-color: white;
    width: 95%;
    position: relative;
    right: -37px;
    top:30%;
    padding-bottom: 40px;
    
    margin-top: 30px;
}

h1 {
    border-bottom: 1px solid lightgray;
    border-right: none;
    border-left: none;
    border-right: none;
    font-family: 'Lobster', cursive;
}
:placeholder-shown{
    font-family: 'Sanchez', serif;
}

footer {
    position: fixed;
    right: 0%;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: white;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

form {
    position: relative;
    right: -20%;
    text-align: center;
}

button {
    position: relative;
    left: -17%;
    margin-bottom: 10px;
}

.navvvv {
    position: relative;
    right: -83%;
    font-family: 'Lobster', cursive;
    
}

.navbar-brand {
    position: relative;
    left: 23px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-decoration: underline;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.navbar-brand:active {
    text-decoration: underline;
}



.contact {
    position: relative;
    right: 45px;
}

.row {
    font-family: 'Sanchez', serif;
}